
    @font-face {
    font-family: 'Caros Soft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Regular'), url(../assets/fonts/CarosSoft.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Thin'), url(../assets/fonts/CarosSoftThin.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft ExtraLight'), url(../assets/fonts/CarosSoftExtraLight.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Light';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Light'), url(../assets/fonts/CarosSoftLight.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Medium'), url(../assets/fonts/CarosSoftMedium.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Bold'), url(../assets/fonts/CarosSoftBold.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft ExtraBold'), url(../assets/fonts/CarosSoftExtraBold.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Heavy'), url(../assets/fonts/CarosSoftHeavy.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Caros Soft Black';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Black'), url(../assets/fonts/CarosSoftBlack.woff) format('woff');
    }

    @font-face {
    font-family: 'BetterGrade';
    font-style: normal;
    font-weight: normal;
    src: local('BetterGrade'), url(../assets/fonts/BetterGrade-519DV.ttf) format('woff');
    }
   
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

--orange: #eeaa33;
--light-orange:#eebb55;
--creme:#ffffee;
--light-grey:#F8F7F1;
--grey:#bbbbaa;
--dark-green:#556655;
--yellow:#ffcc11;
--blue-green: #296F6D;
}

body{
    font-family: 'CarosSoft';
    background: var(--orange) repeat;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 90vw;
    border: 1px solid var(--orange);
    background-color: #fff;    
    margin: 5vh auto;
    border-radius: 30px 30px 0px 0px;
    border-top: 1px solid rgb(255,255,255,0.5);
    box-shadow: 5px 5px 10px 0px rgb(0,0,0,0.2);
    backdrop-filter: blur(2px);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: var(--blue-green)
}

nav .logo h2{
    font-family: 'BetterGrade';
    font-weight: 500;
    font-size: 45px;
    
}

nav ul{
    display: none;
}


nav .phone_number{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:10px;
    
}

nav .phone_number ion-icon{
    position:relative;
    top:-5px;
    font-weight: 700;
    padding: 6px 6px;
 
    border-radius: 50%;
    box-shadow: inset 0px 1px 2px 1px rgb(0,0,0,0.2),
    0px 1px 2px 1px rgb(0,0,0,0.1);
    cursor: pointer;
}


.content{
    
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:62%;
    transform: translate(-50%,-50%) scale(0.8);
    width: 100%;

}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    height: 100%;
    justify-content: space-between;
    padding: 30px  30px 60px 30px;
    color:#333;   
    
}

.left h1{
    font-family: 'Caros Soft Extrabold';
    font-weight: 500;
    font-size: 38px;
    color: var(--dark-green);
    z-index: 1;
}

.left .email p{
    color: #333;
    font-weight: 600;
    font-family: 'Caros Soft Extrabold';
    font-size: 14px;

}

.left .email a{
    text-decoration: none;
        font-family: 'Caros Soft Extrabold';
        font-weight: 600;
        font-size: 10px;
        color: var(--blue-green)
}

.right{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 50px 60px 0px;
    width: 50%;
    height: 100%;
    
}

.right .year, .right .project{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 10px;
    color: #333;
    font-weight: 600;
}


.right .year span, .right .project span{
    font-size: 36px;
    font-family: 'Caros Soft Extrabold';
    font-weight: 600;
    
}

.right .media{
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
    position:relative;
    bottom: 80px;
    color:var(--blue-green)
}
.right .media ion-icon{
    padding: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.right .media ion-icon:hover{
    color:var(--orange);
    transform: scale(1.15) translateX(-10px);
    transition: ease-in-out 0.5s;

}

.bottom_banner{
    position:absolute;
    bottom:-400px;
    right: 0;
    left: 0;
    margin: 0 auto;
    
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    background-color: var(--creme);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0,0.2);
    text-align: left;
    padding: 30px 0px;
    gap: 20px;

}

.bottom_banner .link span{
    padding: 8px;
    font-size: 22px;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 1px 2px 1px rgb(0,0,0,0.3),
    0px 1px 2px 2px rgb(0,0,0,0.2);
}

.bottom_banner .link:nth-child(1) span{
    background-color: var(--blue-green);
    position:absolute;
    left: 40px;
}
.bottom_banner .link:nth-child(2) span{
    background-color: var(--yellow);
    position:absolute;
    left: 40px;
    
}
.bottom_banner .link:nth-child(3) span{
    background-color: var(--orange);
    position:absolute;
    left: 40px;
}

.bottom_banner .link{
    padding: 20px;
    margin:auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap:20px;
    font-family: 'Caros Soft Extrabold';
    position:relative;
    

    
}
.bottom_banner .link .text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    padding: 0 0 0 30px;
}

.bottom_banner .link p{
    font-size: 13px;
    color: #296F6D;    

    
    
}
.bottom_banner .link .detail{
    font-size: 10px;
    position:relative;    
    padding: 5px 0 0 0;
    
}

@media (min-width:798px){

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 90vw;
    border: 1px solid var(--orange);
    background-color: #fff;    
    margin: 5vh auto;
    border-radius: 30px 30px 0px 0px;
    border-top: 1px solid rgb(255,255,255,0.5);
    box-shadow: 5px 5px 10px 0px rgb(0,0,0,0.2);
    backdrop-filter: blur(2px);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: var(--blue-green)
}

nav .logo h2{
    font-family: 'BetterGrade';
    font-weight: 500;
    font-size: 45px;
    
}

nav ul{
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    list-style: none;
    font-family: 'Caros';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 14px;
}
nav ul li {
    cursor: pointer;
     padding: 2px 12px;
     transition: ease ;
}

nav ul li:hover{
    border-left: var(--blue-green) 2px solid;
    border-right: var(--blue-green) 2px solid;
     padding: 2px 10px;
   color: var(--orange);
    border-radius: 10px;
    transition: ease ;
}

nav .phone_number{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:10px;
    
}

nav .phone_number ion-icon{
    position:relative;
    top:-5px;
    font-weight: 700;
    padding: 6px 6px;
 
    border-radius: 50%;
    box-shadow: inset 0px 1px 2px 1px rgb(0,0,0,0.2),
    0px 1px 2px 1px rgb(0,0,0,0.1);
    cursor: pointer;
}

.content{
    
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%) scale(0.36);
    

}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    height: 100%;
    justify-content: space-between;
    padding: 30px  30px 120px 30px;
    color:#333;   
    
}

.left h1{
    font-family: 'Caros Soft Extrabold';
    font-weight: 500;
    font-size: 50px;
    color: var(--dark-green)
}

.left .email p{
    color: #333;
    font-weight: 600;
    font-family: 'Caros Soft Extrabold';

}

.left .email a{
    text-decoration: none;
        font-family: 'Caros Soft Extrabold';
        font-weight: 600;
        font-size: 14px;
        color: var(--blue-green)
}

.right{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 50px 120px 0px;
    width: 50%;
    height: 100%;
    
}

.right .year, .right .project{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 10px;
    color: #333;
    font-weight: 600;
}


.right .year span, .right .project span{
    font-size: 36px;
    font-family: 'Caros Soft Extrabold';
    font-weight: 600;
    
}

.right .media{
    display: flex;
    flex-direction: column;
    position:relative;
    top: 0px;
    
    font-size: 20px;
    padding-right: 20px;
    color:var(--blue-green)
}
.right .media ion-icon{
    padding: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.right .media ion-icon:hover{
    color:var(--orange);
    transform: scale(1.15) translateX(-10px);
    transition: ease-in-out 0.5s;

}

.bottom_banner{
    position:absolute;
    bottom:0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0px 20px;
    
    border-radius: 25px 25px 0px 0px;
    width: 70vw;
    background-color: var(--creme);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0,0.2);

}

.bottom_banner .link .text-box{
    width: 100%;
    position: relative;
    left: 40px;
}

.bottom_banner .link .detail{
    font-size: 9px;
    color:#333;
    
}

.bottom_banner .link span{
    padding: 8px;
    font-size: 22px;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 1px 2px 1px rgb(0,0,0,0.3),
    0px 1px 2px 2px rgb(0,0,0,0.2);
}

.bottom_banner .link:nth-child(1) span{
    background-color: var(--blue-green);
}
.bottom_banner .link:nth-child(2) span{
    background-color: var(--yellow);
}
.bottom_banner .link:nth-child(3) span{
    background-color: var(--orange);
}

.bottom_banner .link{
    padding: 20px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Caros Soft Extrabold';
    
}
.bottom_banner .link p{
    font-size: 13px;
    color: #296F6D;
}
}

.overlay{
    position:absolute;
    z-index: 10;
    
    width: 100%;
    min-height: 100vh;
    background-color: var(--orange);
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'BetterGrade';
    line-height: 0.7;
    font-size: 60px;
    font-weight: 400;
    color:var(--blue-green);
    text-align: right;
}

.overlay h1{
    font-weight: 400;
}