body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 100vw;
    height: 100vh;
    position:relative;
    top:0;
    left:0;
    background-color: #fff;
}

section svg{
position: absolute;
bottom:0;
left:40%;
 background-color: #fff;

transform: translateX(-0%) rotate(-90deg);

}